<% include header.ejs %>
 <link href="/css/switch.css" rel="stylesheet">

<div class="row">
			<div class="col-sm-2">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Bilik</h3>
            </div>
            <div class="panel-body">
				<% 
					var i = 1;
					while (i <= jmlbilik) {
				%>
				<strong>Bilik-<%=i%></strong><br>
				<% i++; }  %>
            </div>
          </div>
        </div><!-- /.col-sm-6 -->
			<div class="col-sm-2">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Status</h3>
            </div>

            <div class="panel-body">
				<% 
					var i = 1;
					while (i <= jmlbilik) {
				%>
					<div class="onoffswitch">
						 <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch<%=(i-1)%>">
						 <label class="onoffswitch-label" for="myonoffswitch">
							  <div class="onoffswitch-inner"></div>
							  <div class="onoffswitch-switch"></div>
						 </label>
					</div>
				<% i++; }  %>
            </div>
          </div>
        </div><!-- /.col-sm-6 -->
			<div class="col-sm-2">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">onVote</h3>
            </div>

            <div class="panel-body">
				<% 
					var i = 1;
					while (i <= jmlbilik) {
				%>
					<div class="onoffswitch">
						 <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="votestatus<%=(i-1)%>">
						 <label class="onoffswitch-label" for="myonoffswitch">
							  <div class="onoffswitch-inner"></div>
							  <div class="onoffswitch-switch"></div>
						 </label>
					</div>
				<% i++; }  %>
            </div>
          </div>
        </div><!-- /.col-sm-6 -->
			<div class="col-sm-6">
				<div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Set Bilik On</h3>
            </div>
            <div class="panel-body">
              <form role="form">
					  <div class="form-group">
						 <label for="KTP">KTP</label>
						 <input type="text" class="form-control" id="ktp" placeholder="No. KTP">
						 <p class="help-block" id="error" style="color:red"></p>
					  </div>
						<div class="form-group">
						 <label for="Nama Lengkap">Nama Lengkap</label>
						 <input type="text" class="form-control" id="nama_lengkap" disabled>
					  </div>
 					  <input type="hidden" class="form-control" id="id_voter" disabled>
					  <div class="form-group">
						 <label for="select">Pilih Bilik </label>		
						<select class="form-control" id="pilihBilik">
						 <% 
							var i = 1;
							while (i <= jmlbilik) {
						%>
							<option value="<%=parseInt(i)%>">Bilik-<%=i%></option>
						<%
							i++;
							}
						%>
						</select>
						</div>
					  <button type="button" class="btn btn-default" id="jalankan">Jalankan</button>
					</form>
            </div>
          </div>
			</div>
</div>

<div class="row">
  <div class="col-md-12">
		<div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Console</h3>
            </div>
            <div class="panel-body" id="consolebilik" style="overflow-y: auto;overflow-x: hidden">
            </div>
          </div>
	</div>
</div>
<% include footer.ejs %>
<script src="/socket.io/socket.io.js"></script>
<script>
$("#menuheader").hide();
function myConfirmation() {
    return 'Ini halaman penting. yakin ingin keluar?';
}
window.onbeforeunload = myConfirmation;

function writeLog(str) {
	$("#consolebilik").append(str+"<br>");
}
</script>

<!-- Algoritma Socket.io server konsol begin -->
<script>
	var socket = io.connect();
	socket.emit('adminReg', {data:'ok'});
	writeLog("Running bilik server...");
	socket.on('Logging',function(data){
		writeLog(data.msg);
		var str = "#myonoffswitch"+data.no_bilik;
		if (data.status == "ON"){
			$(str).prop('checked',true);
		} else if (data.status == "OFF") {
			$(str).prop('checked',false);
		}
	});
	socket.on("statusVote",function(data){
		var str = "#votestatus"+data.no_bilik;
		if (data.msg == "process"){
			$(str).prop('checked',true);
			writeLog("<p style='color:green'>"+$("#pilihBilik option:selected").text()+" sudah diaktifkan</p>");
		}
		else if (data.msg == "done"){
			$(str).prop('checked',false);
		}
		else if (data.msg == "error") {
			writeLog("<p style='color:red'>"+$("#pilihBilik option:selected").text()+" sedang dalam proses voting</p>");
		}
	});
</script>

<script>
	$(document).ready(function(){
		$("#ktp").keyup(function(){
			var ktp = $("#ktp").val();
			$.ajax({
				type:"POST",
				url:"/admin/isPemilihOK",
				data: 'KTP='+ktp,
				success:function(data){
					if (data.msg == "ok")	{
						$("#error").html("");
						$("#nama_lengkap").val(data.nama_lengkap);
						$("#id_voter").val(data.id);
						$("#jalankan").removeAttr('disabled');
					}
					else{
					 if (data.msg == "not_ok1") {
						$("#nama_lengkap").val('');
						$("#id_voter").val('');
						$("#error").html("Nomor KTP tidak ada di database");
					 }
					 else if (data.msg == "not_ok2"){
						$("#nama_lengkap").val('');
						$("#id_voter").val('');
						$("#error").html("Nomor KTP ini sudah melakukan pemilihan");
					 }
						$("#jalankan").attr("disabled","disabled");
					}		
				}		
			});
		});

		$("#jalankan").click(function()
		{
			//var isONSelector = "myonoffswitch"+$("#pilihBilik").val();
			//alert(document.getElementById(isONSelector).checked); .is(':checked')

			socket.emit('setOnBilik', {nama_lengkap:$("#nama_lengkap").val(),
												id_voter:$("#id_voter").val(),
												ktp:$("#ktp").val(),
												bilik:$("#pilihBilik option:selected").text()});
			$("#ktp").val('');
			$("#nama_lengkap").val('');
			$("#id_voter").val('');
			$("#jalankan").attr("disabled","disabled");
			writeLog($("#pilihBilik option:selected").text()+" sedang diaktifkan");
		});

	});
</script>
