<% include header.ejs %>

<div class="header">
	<a href="/admin/calonadd"><button type="button" class="btn btn-info">Tambah Calon</button></a>
	<br><br>
	<table cellpadding="0" cellspacing="0" border="0" class="table" id="example" width="100%">
	<thead>
		<tr>
			<th>Nama Calon</th>
			<th>Foto Calon </th>
			<th>Deskripsi Calon</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
	<%
	 var i = 0;
	 while (data[i] != undefined)
	 {
	 %>
		<tr>
			<td><%=data[i].nama_calon %></td>
			<td><a href="/uploads/<%=data[i].foto_calon %>" width=20px height=20px>Lihat</a></td>
			<td><%-data[i].deskripsi_calon %></td>
			<td><a href="/admin/calondel/<%=data[i].id%>">Delete</a></td>
		</tr>
	<%
	 i++;
	 }
	 %>
	</tbody>
</table>
</div>

<% include footer.ejs %>
<script src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#example').dataTable();
	});
</script>
