<% include header.ejs %>
<!-- Place this in the body of the page content -->
<form method="POST" action="/admin/calonadd" enctype="multipart/form-data">
	 <div class="form-group">
   	 <label for="Nama Calon">Nama Calon</label>
   	 <input type="text" class="form-control" name="nama_lengkap" id="nama_lengkap" placeholder="Nama Lengkap Calon" required>
  	  </div>
  	<div class="form-group">
    	<label for="Upload">Foto Calon</label>
   	 <input type="file" class="form-control" id="foto_calon" name="foto_calon" required>
  	</div>
	<div class="form-group">
		<label for="Deskripsi222s">Deskripsi</label>
		<textarea name="deskripsi_calon"></textarea>
	</div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<% include footer.ejs %>
<script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
tinymce.init({
    selector: "textarea",
	 height : 200
 });
</script>
