<% include header.ejs %>
<script src="/js/date.js"></script>
<div id="header">
<h2>Hasil Pemilu</h2>
<div id="pieChartContainer" style="max-width:800px;height: 400px;"></div>
</div>


<table class="table">
	<tr>
		<th>No</th>
		<th>Tanggal</th>
		<th>Jam</th>
		<th>ID Pemilih</th>
		<th>Pilihan</th>
	</tr>
	<%
	var i = 0;
	while (tabel[i] != undefined) {
	%>
	<tr>
		<td><%=(i+1)%></td>
		<td><script>document.write(Date.parse("<%=tabel[i].time_vote%>").toString("d MMMM yyyy"));</script></td>
		<td><script>
			var t = "<%=tabel[i].time_vote%>".split(/[ ]/);
			document.write(t[1]);
		</script></td>
		<td><%=tabel[i].id_voters%></td>
		<td><%=tabel[i].nama_calon%></td>
	</tr>
	<%
	i++;
	}
	%>
</table>


<% include footer.ejs %>
<script src="/js/globalize.min.js"></script>
<script src="/js/dx.chartjs.js"></script>
<script type="text/javascript">

var pieChartDataSource = new Array();
/*
var pieChartDataSource = [
    {category: 'Oceania', value: 35},
    {category: 'Africa', value: 1016},
    {category: 'Americas', value: 936},
    {category: 'Asia', value: 4149},
    {category: 'Europe', value: 728}                                                        
];
*/

<%
 var i = 0;
 while (data[i] != undefined)
 {
%>
	var object=new Object();
	object.category = '<%=data[i].nama_calon%>';
	object.value = <%=data[i].JmlVote%>;
	pieChartDataSource.push(object);
<%
	 i++;
 }
%>

$(function () {             
    $("#pieChartContainer").dxPieChart({
        dataSource: pieChartDataSource,
        series: {
            argumentField: 'category',
            valueField: 'value',
				label: {
            visible: true,
            connector: {
                visible: true
            }
        },
       } ,
			tooltip: {
        enabled: true,
        percentPrecision: 2,
        customizeText: function (value) {
            return value.percentText;
        }
    },
		legend: {
        horizontalAlignment: 'center',
        verticalAlignment: 'bottom'
    }
    });
})
</script>
