<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Halaman E-vote admin</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
	<style type="text/css" title="currentStyle">
			@import "/css/demo_page.css";
		</style>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
<div class="container">
<div class="header" id="menuheader">
        <ul class="nav nav-pills pull-right">
          <li><a href="/admin">Home</a></li>
	  <%
		if (session.mode == "non-pra") {
	  %>
	  <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pemilu <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/admin/konsolbilik" onclick="popupWindow(this.href)" target="_blank">Konsol Bilik</a>
		<li><a href="/admin/print">Print Suara</a></li>
                <li><a href="/admin/hasilpemilu">Hasil Pemilu</a></li>
		<li><a href="/admin/live_report">Live Report</a></li>
              </ul>
          </li>
	<% } else { %>
	  <li><a href="/admin/calon">Calon</a></li>
	<% } %>
	  <li><a href="/admin/voters">Pemilih</a></li>
	  <%
		if (session.mode == "non-pra") {
	 %>
	  <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Database <b class="caret"></b></a>
	      <ul class="dropdown-menu">
		<li><a href="/admin/exportdb">Export Database</a></li>
		<li><a href="#" onclick="cek(); return false;">Clear Database</a></li>
	      </ul>
	  </li>
	 <% } %>
          <li><a href="/admin/logout">Logout</a></li>
        </ul>
        <h3 class="text-muted">E-Vote Admin</h3>
      </div>
<script>
function popupWindow(url)
  {
    window.open(url,"MyWindow","toolbar=no, menubar=no,scrollbars=no,resizable=no,location=no,directories=no,status=no");
  }

function cek() {
   var r = confirm('Anda yakin ingin membersihkan seluruh data?');
   if (r) self.location="/admin/cleardb";
}
</script>
