<% include header.ejs %>
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
	var socket = io.connect();
	socket.on('counter_waktu',function(data) {
		$("#message_waktu").html(data);
	});
</script>
      <div class="jumbotron">
        <h1>Selamat datang</h1>
        <p class="lead">Anda telah masuk kedalam panel admin dari sistem e-vote ini. 
	<%
		if (session.mode=="non-pra") {
	%>
	<br>Durasi : <%=data%> detik	<br>
	Waktu e-vote tersisa : <span id="message_waktu"></span> Detik
	<% } %>
	</p>
      </div>
		

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	 <% include footer.ejs %>
  </body>
</html>
