<% include header.ejs %>
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<div id="header">
<br>
<center><h1>Sudah memilih <br></h1> <span id="jmlvote" style="font-size:320px"></span></center>
</div>
<script>
	function getVote(){
		$.ajax({
			type:"GET",
			url:"/admin/getVoters",
			data:'',
			success : function(html) {
				$("#jmlvote").html(html);
			}
		});
	}

	function getDPT(){
		$.ajax({
			type:"GET",
			url:"/admin/getDPT",
			data:'',
			success : function(html) {
				$("#jmlDPT").html(html);
			}
		});
	}
	
	getDPT();
	getVote();

	var socket = io.connect();
	socket.on('sedang_voting',function(data){
		getDPT();
	});

	socket.on('done_voting',function(data) {
		getVote();
	});
</script>
<% include footer.ejs %>
