
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <form class="form-signin" action="/admin/login" method="POST">
        <h2 class="form-signin-heading">E-Vote Admin</h2>
        <div class="form-group">
   		<label for="username">Username</label>
   		<input type="text" class="form-control" name="username" id="username" placeholder="Username (eg. admin)" required>
 		 </div>
		 <div class="form-group">
   		<label for="username">Password</label>
   		<input type="password" class="form-control" name="password" id="password" placeholder="Password (eg. admin)" required>
 		 </div>
		<div class="form-group">
   			<input type="radio" name="mode" value="pra" checked>&nbsp;&nbsp;Pra Pemilu<br>
			<input type="radio" name="mode" value="non-pra">&nbsp;&nbsp;Pemilu
 		 </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Masuk</button>
      </form>

    </div> <!-- /container -->
  </body>
</html>

