<% include header.ejs %>
<div class="header">
	<u>Tambah / Edit Pemilih</u>
	<form class="form-inline" role="form" id="form" method="POST" action="/admin/addvoters/">
  <div class="form-group">
    <label class="sr-only" for="KTP">KTP</label>
    <input type="text" class="form-control" name="KTP" id="KTP" placeholder="No. KTP" required>
  </div>
  <div class="form-group">
    <label class="sr-only" for="Nama Lengkap">Nama Lengkap</label>
    <input type="text" class="form-control" name="nama_lengkap" id="nama_lengkap" placeholder="Nama Lengkap" required> 
  </div>
	<div class="form-group">
    <label class="sr-only" for="Nama Lengkap">Alamat</label>
    <input type="text" class="form-control" name="alamat" id="alamat" placeholder="Alamat" required> 
  </div>
	<div class="form-group">
    <label class="sr-only" for="Nama Lengkap">Kecamatan</label>
    <input type="text" class="form-control" name="kecamatan" id="kecamatan" placeholder="Kecamatan" required> 
  </div>
	<div class="form-group">
    <label class="sr-only" for="Nama Lengkap">Desa</label>
    <input type="text" class="form-control" name="desa" id="desa" placeholder="Desa" required> 
  </div>
  <button type="submit" class="btn btn-info" id="tombol">Daftar</button>
  <button type="button" class="btn btn-danger" id="cancel">Cancel</button>
</form>
	<br>
	<u>Print Area </u><br>
	<form class="form-inline" role="form" id="form" method="POST" action="/admin/print_pemilih/">
	<div class="form-group">
    		<select name="jenis_pemilih" class="form-control">
			<option value="all">Semua Pemilih</option>
			<option value="sudah">Sudah Memilih</option>
    		</select>
 	</div>
	<button type="submit" class="btn btn-info" id="tombol">Cetak Pemilih</button>
	</form>
	<br>
	<table cellpadding="0" cellspacing="0" border="0" class="table" id="example" width="100%">
	<thead>
		<tr>
			<th>KTP</th>
			<th>Nama Lengkap</th>
			<th>Alamat</th>
			<th>Desa</th>
			<th>Kecamatan</th>
			<th>Status</th>
			<th>Aksi</th>
		</tr>
	</thead>
	<tbody>
	<%
	 var i = 0;
	 while (data[i] != undefined)
	 {
	 %>
		<tr>
			<td><%=data[i].KTP %></td>
			<td><%=data[i].Nama_lengkap %></td>
			<td><%=data[i].Alamat %></td>
			<td><%=data[i].desa %></td>
			<td><%=data[i].kecamatan %></td>
			<td>
			<%
				if (data[i].isVote == 0) { %>
					<span style="color:red">Belum memilih</span>
			<%
				}else if (data[i].isVote == 1) {
			%>
					<span style="color:green">Sudah memilih</span>
			<%
				}else {
			%>
				<span style="color:red"> Memilih >1 kali? </span>		
			<%
				}
			%>
			</td>
			<td><a href="#" onClick="editForm('<%=data[i].KTP %>','<%=data[i].Nama_lengkap %>','<%=data[i].Alamat %>','<%=data[i].id_vote %>','<%=data[i].desa%>','<%=data[i].kecamatan%>'); return false;">Edit</a>&nbsp;<a href="/admin/delvoters/<%=data[i].id_vote%>">Delete</a></td>
		</tr>
	<%
	 i++;
	 }
	 %>
	</tbody>
</table>
</div>

<% include footer.ejs %>
<script src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf-8">
	function editForm(KTP,nama,alamat,id,desa,kecamatan) {
		$("#KTP").val(KTP);
		$("#nama_lengkap").val(nama);
		$("#alamat").val(alamat);
		$("#desa").val(desa);
		$("#kecamatan").val(kecamatan);
		$("#cancel").show();
		$("#tombol").text('Edit');
		$("#form").attr("action","/admin/editvoters/"+id);
	}

	$("#cancel").click(function(){
		$("#cancel").hide();
		$("#alamat").val('');
		$("#nama_lengkap").val('');
		$("#KTP").val('');
		$("#tombol").text('Daftar');
		$("#form").attr("action","/admin/addvoters");
	});

	$("#cancel").hide();
	$(document).ready(function() {
		$('#example').dataTable();
	});
</script>
