<script src="/js/date.js"></script>
<center>
<h3>Daftar Pemilih</h3>
<h4><i><%=nama_pemilihan%></i></h4>
<script>document.write(Date.today().toString("d MMMM yyyy"));</script><br>
<%=lokasi%><br>
<table border = 1>
<tr>
	<th>No</th>
	<th>KTP</th>
	<th>Nama</th>
	<th>Alamat</th>
	<th>Desa</th>
	<th>Kecamatan</th>
</tr>
<%
	var i = 0;
	while (data[i] != undefined) {
%>
<tr>
	<td><%=i+1 %></td>
	<td><%=data[i].KTP %></td>
	<td><%=data[i].Nama_lengkap %></td>
	<td><%=data[i].Alamat %></td>
	<td><%
		if (data[i].desa == "") { %> <%="-"%>
	    <%}	else {%>	    
		<%=data[i].desa%>
	  <% } %>
	</td>
	<td><%
		if (data[i].kecamatan == "") { %> <%="-"%>
	    <%}	else {%>	    
		<%=data[i].kecamatan%>
	  <% } %>
	</td>
</tr>
<%
	i++;
	}
%>
</table>
</center>
<button onClick="window.print();return false;">Print</button>
