<!-- Bootstrap core CSS -->
<script src="/js/jquery-1.10.2.min.js"></script> 
<script src="/js/bootstrap.min.js"></script>

<h2>Konfigurasi E-vote</h2>
<form action="/admin/settime" method="POST" role="form">
<table border=0>
	<div class="form-group">
	<tr>
	<td><label for="Nama Pemilihan">Nama Pemilihan</label></td>
	<td><input type="text" class="form-control" name="nama_pemilihan" id="nama_pemilihan" placeholder="Nama Pemilihan" required></td>
	</tr>
	</div>
	
	<div class="form-group">
	<tr>
	<td><label for="Lokasi Pemilihan">Lokasi</label></td>
	<td><input type="text" class="form-control" name="lokasi" id="lokasi" placeholder="Lokasi Pemilihan" required></td>
	</tr>	
	</div>
	
	<div class="form-group">
	<tr>
	<td><label for="Durasi">Durasi (dalam jam)</label></td>
	<td><input type="number" class="form-control" name="duration" id="duration" placeholder="Durasi" required></td>
	</tr>
	</div>
	
	<div class="form-group">
	<tr>
	<td><label for="Durasi">Password Bilik</label></td>
	<td><input type="text" class="form-control" name="password" id="password" placeholder="Password Bilik" required></td>
	</tr>
	</div>

	<tr>
	<td><button type="submit" class="btn btn-default">Submit</button></td>
	</tr>
</table>
</form>

<script>
$('#duration').on('keypress', function(ev) {
    var keyCode = window.event ? ev.keyCode : ev.which;
    //codes for 0-9
    if (keyCode < 48 || keyCode > 57) {
        //codes for backspace, delete, enter
        if (keyCode != 0 && keyCode != 8 && keyCode != 13 && !ev.ctrlKey) {
            ev.preventDefault();
        }
    }
});
</script>
