<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Halaman E-vote admin</title>

	 <!-- Notice, belum ada guard pada pagerjs -->
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
	 <link rel="stylesheet" href="/css/flipclock.css">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
        </ul>
        <h3 class="text-muted">E-Vote</h3>
      </div>

      <div class="jumbotron"  data-bind="page: {id: 'start', title:'Laman Aktivasi'}">
        <h1>Laman Aktivasi</h1>
        <p class="lead">Pilih nomor bilik yang tersedia</p>
		  <p><center>
<select class="form-control" width="300" style="width: 300px" id="bilikAvail">
</select>
	Password : <input type="password" id="password_bilik">
</center></p>
        <p><a class="btn btn-lg btn-success" href="#" role="button" id="joinButton" data-bind="click: mulai_vote" disabled>Join</a></p>
      </div>

		<div class="jumbotron" data-bind="page: {id: 'mulai_vote', title:'Laman Awal Voting', fx:'slide'}">
        <h1>Selamat datang di <%=judul%> <span style="visibility:hidden" id="nama_bilik_vote"></span></h1>
		  <p class="lead">Nama : <span id="nama_lengkap_voter"></span></p>
		  <p class="lead">KTP : <span id="nomor_KTP_voter"></span> </p>
        <p class="lead">Klik tombol Mulai</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button" id="votebutton" data-bind="click: vote">Mulai</a></p>
      </div>

	<div data-bind="page: {id: 'vote', title:'Memilih', fx:'slide'}">
		<div class="jumbotron">
		  <p class="lead"> Panduan : Silahkan tekan wajah calon </p>
      </div>
		<div class="row"><div class="col-sm-3"></div><div class="col-sm-6"></div>
		</div>
		<div class="row">
		<%
	 	var i = 0;
	 	while (data[i] != undefined) {
	 	%>
			<div class="col-sm-3">
          <div class="panel panel-info" onClick="vote('<%=data[i].id%>');">
            <div class="panel-heading">
              <h3 class="panel-title">Calon <%=(i+1)%></h3>
            </div>
            <div class="panel-body">
              <p><img src="/uploads/<%=data[i].foto_calon%>" width=125px height=125px></p>
				  <center><p><h3><%=data[i].nama_calon %></b></h3></center>
            </div>
          </div>
		<% i++; %>
        </div><!-- /.col-sm-6 -->
		<% } %>
	</div>
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-6"><div class="your-clock" onclick="return false;"></div></div>
		<div class="col-sm-4"></div>
	</div>
      <div class="footer">
        <p>&copy; Copyright 2014</p>
      </div>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	 <script src="/js/jquery-1.10.2.min.js"></script>
	 <script src="/js/knockout-3.0.0.js"></script>
	 <script src="/js/pager.min.js"></script> 
    <script src="/js/bootstrap.min.js"></script>
	 <script src="/socket.io/socket.io.js"></script>
	 <script src="/js/base.js"></script>
	 <script src="/js/flipclock.js"></script>
	 <script src="/js/faces/counter.js"></script>
	 <script src="/js/faces/hourlycounter.js"></script>
		<script src="/js/faces/dailycounter.js"></script>
		<script src="/js/faces/minutecounter.js"></script>
		<script src="/js/faces/twentyfourhourclock.js"></script>
		<script src="/js/faces/twelvehourclock.js"></script>
	<script src="/js/anti_back_button.js"></script>
	<script src="/js/bootbox.min.js"></script>

	<!-- Mulai untuk socket.io -->
	<script>
		var isVote = false; //jika sudah mulai vote
		var id_voter = -1;
		var nomor_bilik;

		var socket = io.connect();
		socket.emit("bilikReg",{data:"CONN"});
		socket.on('adminUP',function(data){
			if (data.data == "ok") {
				var str = "";
				for (key in data.bilik) {
					if (data.bilik[key])
						str = str + "<option value='"+key+"'> "+data.bilik[key]+"</option>";
				}
				$("#bilikAvail").html(str);
				$('#joinButton').removeAttr('disabled');
			}
			else $('#joinButton').attr('disabled', 'disabled');
		});

		socket.on('startVote',function(data){
			if (isVote==true) {
				socket.emit('onVoteProcess',{msg:"error",no_bilik:nomor_bilik});
			}
			else {
				isVote = true;
				socket.emit('onVoteProcess',{msg:"process",no_bilik:nomor_bilik});
				$("#nama_lengkap_voter").html(data.nama_lengkap);
				$("#nomor_KTP_voter").html(data.ktp);			
				id_voter = data.id_voter;
				socket.emit('vote_id_voter',{id_vote:id_voter}); //vote_id_voter
				$("#votebutton").removeAttr('disabled');
				
			}
		});
	</script>

    <script>
		$("#votebutton").attr('disabled','disabled');
	//	$("#votebutton").removeAttr('disabled'); //enable
		/* Flip Clock */
		var clock;

		clock = $('.your-clock').FlipClock({
		autoStart: false,
		clockFace: 'MinuteCounter',
		countdown: true,
		callbacks: {
			     stop: function() {
											socket.emit('onVoteProcess',{msg:"done",no_bilik:nomor_bilik});
					/* Jalankan protokol AJAX */
					/*
					$.ajax({
						type:"POST",
						url:"/voteprocess",
						data:"id_voter="+id_voter+"&id_answer=-2", //kasih lagi -2 jika berjaga-jaga tidak milih
						success:function(){id_voter = -1;}
					});*/
					//socket.emit("done_voting",{data:"OK"}); //buat counter
					
					//masukan emitter pemilih
											$("#nomor_KTP_voter").html('');
											$("#nama_lengkap_voter").html('');
											isVote = false;
											$("#votebutton").attr('disabled','disabled');
											//var al = window.open('', 'Selesai'); 
											//window.setTimeout(function() {al.close()}, 1000);
											window.location.href = '#mulai_vote';
			     						}
						}
		});

		function voteVM()
		{
			var self = this;
			self.mulai_vote = function() {
				$.get("/admin/cekPassword?password="+$("#password_bilik").val(),function(data,status) {
					if (data == "OK") {
						socket.emit("sedang_voting",{data:"OK"}); //buat counter
						nomor_bilik = $("#bilikAvail").val();
						$("#nama_bilik_vote").html("bilik-"+(parseInt(nomor_bilik)+1));
						socket.emit('bilikActivate',{msg:$("#bilikAvail").val()});
						window.location.href = '#mulai_vote';
					} else alert("Password Salah");
				});
			}

			self.vote = function() {
				clock.setTime(20); //jangan lupa ganti 20 (MARKER)
				clock.start(function() {
					});
				window.location.href = '#vote';
			}
		}
		
		function vote(id_calon) {
			bootbox.dialog({
				message: "Apakah anda yakin dengan pilihan anda?",
				title: "Konfirmasi Pemilihan",
				buttons: {
					danger: {
						label: "Tidak",
						className: "btn btn-lg btn-danger",
						callback: function() {
							//this.hide();
						}
					},

					success: {
					label: "Ya",
					className: "btn btn-lg btn-success",
					callback: function() {
						clock.stop(function() {
							/* Jalankan protokol AJAX */
							$.ajax({
								type:"POST",
								url:"/voteprocess",
								data:"id_voter="+id_voter+"&id_answer="+id_calon,
								success:function(){id_voter = -1;}
							});
							//masukan emitter pemilih
							id_voter = -2; //di netralisir
							socket.emit("done_voting",{data:"OK"}); //buat counter
						});		
					}
				}
				}
			});
		}

		var viewModel = new voteVM();
		pager.extendWithPage(viewModel);
		ko.applyBindings(viewModel);
		pager.start({id: 'start'});
	</script>
  </body>
</html>
